.root {
  display: flex;
  flex-direction: column;
  align-content: center;

  padding: 20px 40px;
}

.component {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
}

.content {
  padding: 0 10px;
}
